#rehome {
    margin: 50px;
    font-size: 8vh;
    text-align: center;
}

.rehome2 {
    margin: 50px;
    font-size: 5vh;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

input[type="checkbox"][id^="dog"] {
    display: none;
}

input[type="checkbox"][id^="cat"] {
    display: none;
}

input[type="checkbox"][id^="other"] {
    display: none;
}

input[type="checkbox"][id^="yes"] {
    display: none;
}

input[type="checkbox"][id^="no"] {
    display: none;
}

label {
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

label:before {
    color: white;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

 :checked+label {
    border-color: #ddd;
}

 :checked+label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}

 :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}

#selector {
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#dog2 {
    align-items: center;
}

.dog3 {
    height: 4vh;
    width: 12vw;
    border-radius: 23px;
}

#cat2 {
    align-items: center;
}

.cat3 {
    height: 4vh;
    width: 12vw;
    border-radius: 23px;
}

#other2 {
    align-items: center;
}

.other3 {
    height: 4vh;
    width: 15vw;
    border-radius: 23px;
}

select option {
    color: darkgreen;
    border-radius: 23px;
    font-size: 17px;
}

input[type="checkbox"][id="male"] {
    display: none;
}

input[type="checkbox"][id="female"] {
    display: none;
}

#gender {
    display: flex;
}

#vaccinated {
    display: flex;
}

#kids {
    display: flex;
}

.age {
    display: flex;
    align-items: center;
}

#age {
    height: 20px;
}

.textarea {
    width: 90vw;
    height: 10vh;
    margin-left: 23px;
    font-size: 23px;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 300px;
    height: 60px;
    font-size: 22px;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #4FD1C5;
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin: 5vh;
    outline: none;
}

.button:hover {
    color: #313133;
    transform: translateY(-6px);
}

body {
    background: linear-gradient(white, #dedede);
}

.petimg {
    display: flex;
    align-items: center;
}

#address {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 23px;
}

.address {
    margin: 3px;
    border-radius: 23px;
    width: 500px;
    height: 23px;
    text-align: center;
}

#age {
    border-radius: 23px;
}

#petname {
    border-radius: 23px;
}

@media screen and (max-width: 1000px) {
    #address {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: 23px auto;
    }
    .address {
        margin: 3px;
        border-radius: 23px;
        width: 90vw;
        height: 23px;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #dog2 {
        width: 90vw;
    }
    .dog3 {
        width: 50vw;
        margin: auto;
    }
    #cat2 {
        width: 90vw;
    }
    .cat3 {
        width: 50vw;
        margin: auto;
    }
    #other2 {
        width: 90vw;
    }
    .other3 {
        width: 40vw;
        margin: auto;
    }
    #age {
        width: 20vw;
    }
}